@font-face {
    font-family: 'koreanFont';
    src: url('./korean.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'kanit';
    src: url('./kanit.woff') format('woff');
    font-style: normal;
}

* {
    font-family: 'kanit';
    background-color: #F6F6EB;
}

#content, .titleSpace, #mainSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name {
    font-family: 'koreanFont';
    font-size: 6rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
    letter-spacing: 1.2rem;
}

.nameEng {
    font-family: 'kanit';
    letter-spacing: 1.5rem;
    font-size: 1.5rem;
    margin: 0.2rem;
    margin-bottom: 1rem;
}

.navButton {
    border: none;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: 40px;
    cursor: pointer;
}

.navButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 10px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.jollyPic {
    max-width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./toast.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    gap: 2rem;
}

.toastItem {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    font-size: 1.2rem;
}

.product {
    font-weight: bold;
}

.contact, .person {
    display: flex;
    align-items: center;
}

.contact {
    justify-content: space-between;
    gap: 5rem;
}

.person {
    justify-content: center;
    flex-direction: column;
}

.picture {
    width: 200px;
    height: 200px;
}

.contactName {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(163, 163, 163);
}


